.layout {
    background-color: bisque;
}

/* .grid-layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


@media (min-width: 480px) {
    .grid-louyout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 640px) {
    .grid-louyout {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 800px) {
    .grid-louyout {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 768px) {
    .grid-louyout {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid-louyout {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media (min-width: 1280px) {
    .grid-louyout {
        grid-template-columns: repeat(16, 1fr);
    }
}
/* 
@media (min-width: 1440px) {
    .grid-louyout {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1600px) {
    .grid-louyout {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1920px) {
    .grid-louyout {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (min-width: 2560px) {
    .grid-louyout {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (min-width: 3840px) {
    .grid-louyout {
        grid-template-columns: repeat(9, 1fr);
    }
}

@media (min-width: 5120px) {
    .grid-louyout {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media (min-width: 6400px) {
    .grid-louyout {
        grid-template-columns: repeat(11, 1fr);
    }
}

@media (min-width: 7680px) {
    .grid-louyout {
        grid-template-columns: repeat(12, 1fr);
    }
}

@media (min-width: 9600px) {
    .grid-louyout {
        grid-template-columns: repeat(13, 1fr);
    }
}

@media (min-width: 11200px) {
    .grid-louyout {
        grid-template-columns: repeat(14, 1fr);
    }
}

@media (min-width: 12800px) {
    .grid-louyout {
        grid-template-columns: repeat(15, 1fr);
    }
} */ 